<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人员管理</title>
    <script type="text/javascript" src="../js/Jquery.js"></script>
    <script type="text/javascript" src="../js/jquerysession.js"></script>


    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-tagsinput.min.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-tagsinput.css">

    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/department.js"></script>
</head>
<body>
<div class="announcement-container">
    <div class="announcement-text">
        本产品针对系统办公，数据共享，分权限编辑做出了很好的对策。采用数据库的形式保存数据，使广大用户的数据传输速度、安全提供了保障。系统采用人性化设计，充分考虑操作者的实用性，即使不是专业人员也能轻易掌握，全部采用目前市场上成熟，领先的技术，系统设计安全可靠系统提供其它应用系统接口，可方便的将其它应用系统集成进来。 </div>
</div>
<div id="carouselExampleIndicators" class="lunbotu slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../img/AE.png" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../img/AJ.png" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../img/AK.png" alt="Third slide">
        </div>
    </div>

</div>

<div class="pt-2">
    <div class=" row" style=background-color:#ffffff>
        <div class="col-md-3 mb-2">
            <input id="query" type="text" class="form-control" placeholder="部门" autocomplete="off">
        </div>
        <div class="col-md-9 mb-2">
            <button id="select-btn" class="btn btn-primary rounded-pill">
                <i class="bi bi-search icon"></i>
                查询
            </button>
            <a id="biaoqian" style="padding-top: 8px;margin-left: 450px; font-size: 20px; font-weight:bold">当前页：部门权限设置</a>
        </div>
    </div>
<!--    <div style="background-color: #ffffff">-->
<!--        <h1 style="font-size:2rem; text-align: center; color: #000000; white-space: nowrap; max-width: 100%; margin: 0px;">欢 迎 使 用 云 合 分 权 编 辑 </h1>-->
<!--    </div>-->
    <div>
        <button id="refresh-btn" class="btn btn-success my-button-margin rounded-pill">
            <i class="bi bi-arrow-clockwise icon"></i>
            刷新
        </button>
        <button id="add-btn" class="btn btn-primary my-button-margin rounded-pill">
            <i class="bi bi-plus-square icon"></i>
            新增
        </button>
        <button id="update-btn" class="btn btn-warning my-button-margin rounded-pill">
            <i class="bi bi-pencil-square icon"></i>
            修改
        </button>
        <button id="delete-btn" class="btn btn-danger my-button-margin rounded-pill">
            <i class="bi bi-trash icon"></i>
            删除
        </button>
    </div>
    <div id="table-toolbar">
        <div class="btn-group" role="group">

        </div>
        <!--    <div class="text-end">-->
        <!--        <a id="biaoqian" class="btn btn-primary" style="color: white;padding-top: 8px">当前页：部门权限设置</a>-->
        <!--    </div>-->
    </div>

    <div class="table-div border-top">
        <table id="departmentTable"></table>
    </div>

    <div id="add-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">录入</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add-form" class="needs-validation">
                        <div class="form-group">
                            <label for="add-departmentName">部门名称</label>
                            <input id="add-departmentName" name="departmentName" type="text" class="form-control" autocomplete="off" style="width:100%">
                        </div>
                        <div class="invalid-feedback">
                            请填写部门名称！
                        </div>
                        <div class="form-group">
                            <label for="add-viewName">页面名称</label>
                            <select id="add-viewName" name="viewName" type="text" class="form-control" autocomplete="off" style="width:100%">
                                <option value="工作台">工作台</option>
                                <option value="工作台公式设置">工作台公式设置</option>
                                <option value="工作台权限设置">工作台权限设置</option>
                                <option value="部门权限设置">部门权限设置</option>
                                <option value="公司数据分析">公司数据分析</option>
                                <option value="人员管理">人员管理</option>
                                <option value="人员权限设置">人员权限设置</option>
                                <option value="人员数据分析">人员数据分析</option>
                                <option value="工作台使用状态">工作台使用状态</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            请选择页面名称！
                        </div>
                        <div class="form-group">
                            <label for="add-ins">增</label>
                            <select id="add-ins" name="ins" type="text" class="form-control" autocomplete="off" style="width:100%">
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            请选择增权限！
                        </div>
                        <div class="form-group">
                            <label for="add-del">删</label>
                            <select id="add-del" name="del" type="text" class="form-control" autocomplete="off"  style="width:100%">
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            请选择删权限！
                        </div>
                        <div class="form-group">
                            <label for="add-upd">改</label>
                            <select id="add-upd" name="upd" type="text" class="form-control" autocomplete="off"  style="width:100%">
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            请选择改权限！
                        </div>
                        <div class="form-group">
                            <label for="add-sel">查</label>
                            <select id="add-sel" name="sel" type="text" class="form-control" autocomplete="off"  style="width:100%">
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            请选择查权限！
                        </div>
                    </form>
                </div>
                <div class="border-top" style="padding: 15px;">
                    <button id="add-submit-btn" type="button" class="btn btn-primary">
                        <i class="bi bi-arrow-bar-up icon"></i>
                        提交
                    </button>
                    <button id="add-close-btn" type="button" class="btn btn-primary left-margin">
                        <i class="bi bi-x-circle icon"></i>
                        关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="update-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">编辑</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="update-form" class="needs-validation">
                        <div class="form-group">
                            <input id="id" name="id" type="hidden">
                        </div>
                        <div class="form-group">
                            <label for="update-departmentName">部门名称</label>
                            <input id="update-departmentName" name="departmentName" type="text" class="form-control" autocomplete="off" style="width:100%">
                        </div>
                        <div class="invalid-feedback">
                            请填写部门名称！
                        </div>
                        <div class="form-group">
                            <label for="update-viewName">页面名称</label>
                            <select id="update-viewName" name="viewName" type="text" class="form-control" autocomplete="off" style="width:100%">
                                <option value="工作台">工作台</option>
                                <option value="工作台">工作台权限设置</option>
                                <option value="工作台">部门权限设置</option>
                                <option value="工作台">公司数据分析</option>
                                <option value="人员管理">人员管理</option>
                                <option value="人员权限设置">人员权限设置</option>
                                <option value="人员数据分析">人员数据分析</option>
                                <option value="工作台使用状态">工作台使用状态</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            请选择页面名称！
                        </div>
                        <div class="form-group">
                            <label for="update-ins">增</label>
                            <select id="update-ins" name="ins" type="text" class="form-control" autocomplete="off" style="width:100%">
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            请选择增权限！
                        </div>
                        <div class="form-group">
                            <label for="update-del">删</label>
                            <select id="update-del" name="del" type="text" class="form-control" autocomplete="off"  style="width:100%">
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            请选择删权限！
                        </div>
                        <div class="form-group">
                            <label for="update-upd">改</label>
                            <select id="update-upd" name="upd" type="text" class="form-control" autocomplete="off"  style="width:100%">
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            请选择改权限！
                        </div>
                        <div class="form-group">
                            <label for="update-sel">查</label>
                            <select id="update-sel" name="sel" type="text" class="form-control" autocomplete="off"  style="width:100%">
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            请选择查权限！
                        </div>
                    </form>
                </div>
                <div class="border-top" style="padding: 15px;">
                    <button id="update-submit-btn" type="button" class="btn btn-primary">
                        <i class="bi bi-arrow-bar-up icon"></i>
                        提交
                    </button>
                    <button id="update-close-btn" type="button" class="btn btn-primary left-margin">
                        <i class="bi bi-x-circle icon"></i>
                        关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="delete-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">提示</div>
                </div>
                <div id="delete-modal-body" class="modal-body">
                    确定删除吗？
                </div>
                <div class="border-top" style="padding: 15px;">
                    <button id="delete-submit-btn" type="button" class="btn btn-primary">
                        <i class="bi bi-arrow-bar-up icon"></i>
                        确定
                    </button>
                    <button id="delete-close-btn" type="button" class="btn btn-primary left-margin">
                        <i class="bi bi-x-circle icon"></i>
                        取消
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>