<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工作台公式设置</title>
    <script type="text/javascript" src="../js/Jquery.js"></script>
    <script type="text/javascript" src="../js/jquerysession.js"></script>
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-tagsinput.min.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-tagsinput.css">

    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/workbench_gongshi.js"></script>
</head>
<body>

<div class="announcement-container">
    <div class="announcement-text">
        本产品针对系统办公，数据共享，分权限编辑做出了很好的对策。采用数据库的形式保存数据，使广大用户的数据传输速度、安全提供了保障。系统采用人性化设计，充分考虑操作者的实用性，即使不是专业人员也能轻易掌握，全部采用目前市场上成熟，领先的技术，系统设计安全可靠系统提供其它应用系统接口，可方便的将其它应用系统集成进来。
    </div>
</div>
<div id="carouselExampleIndicators" class="lunbotu slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../img/AE.png" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../img/AJ.png" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../img/AK.png" alt="Third slide">
        </div>
    </div>

</div>

<div class="pt-2"  style=background-color:#ffffff>

    <!--    <iframe src="carousel.html" frameborder="0"></iframe>-->
    <div class=" row" style=background-color:#ffffff>
        <div class="col-md-2 mb-2">
            <input id="query" type="text" class="form-control" placeholder="列名" autocomplete="off">
        </div>
        <div class="col-md-10 mb-3">
            <button id="select-btn" class="btn btn-primary rounded-pill">
                <i class="bi bi-search icon"></i>
                查询
            </button>
                <a id="biaoqian" style="padding-top: 8px;margin-left: 550px; font-size: 20px; font-weight:bold">当前页：工作台公式设置</a>
        </div>
    </div>
<!--    <div style="background-color: #ffffff";>-->
<!--        <h3 style="font-size:2rem; text-align: center; color: #000000; white-space: nowrap; max-width: 100%; margin: 0px;">欢 迎 使 用 云 合 分 权 编 辑</h3>-->
<!--    </div>-->
    <div class="btn-group" role="group" style=background-color:#ffffff; style="margin-left: 2px;">

        <button id="refresh-btn" class="btn btn-success  my-button-margin rounded-pill">
            <i class="bi bi-arrow-clockwise icon"></i>
            刷新
        </button>
        <button id="add-btn" class="btn btn-primary  my-button-margin rounded-pill">
            <i class="bi bi-plus-square icon"></i>
            新增
        </button>
        <button id="update-btn" class="btn btn-warning  my-button-margin rounded-pill">
            <i class="bi bi-pencil-square icon"></i>
            修改
        </button>
        <button id="delete-btn" class="btn btn-danger  my-button-margin rounded-pill">
            <i class="bi bi-trash icon"></i>
            删除
        </button>
    </div>


    <div class="table-div border-top">
        <table id="labelTable"></table>
    </div>

    <div id="add-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">录入</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add-form" class="needs-validation">
                        <div class="form-group">
                            <label for="add-thiscolumn">列名</label>
                            <input id="add-thiscolumn" name="thiscolumn" type="text" class="form-control" autocomplete="off" style="width:100%">
                        </div>
                        <div class="form-group">
                            <label for="add-gongshi">公式</label>
                            <input id="add-gongshi" name="gongshi" type="text" class="form-control" autocomplete="off" style="width:100%">
                        </div>
                    </form>
                </div>
                <div class="border-top" style="padding: 15px;">
                    <button id="add-submit-btn" type="button" class="btn btn-primary">
                        <i class="bi bi-arrow-bar-up icon"></i>
                        提交
                    </button>
                    <button id="add-close-btn" type="button" class="btn btn-primary left-margin">
                        <i class="bi bi-x-circle icon"></i>
                        关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="update-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">编辑</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="update-form" class="needs-validation">
                        <div class="form-group">
                            <input id="id" name="id" type="hidden">
                        </div>
                        <div class="form-group">
                            <label for="update-thiscolumn">列名</label>
                            <input id="update-thiscolumn" name="thiscolumn" type="text" class="form-control" autocomplete="off" style="width:100%">
                        </div>
                        <div class="form-group">
                            <label for="update-gongshi">公式</label>
                            <input id="update-gongshi" name="gongshi" type="text" class="form-control" autocomplete="off" style="width:100%">
                        </div>

                    </form>
                </div>
                <div class="border-top" style="padding: 15px;">
                    <button id="update-submit-btn" type="button" class="btn btn-primary">
                        <i class="bi bi-arrow-bar-up icon"></i>
                        提交
                    </button>
                    <button id="update-close-btn" type="button" class="btn btn-primary left-margin">
                        <i class="bi bi-x-circle icon"></i>
                        关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="delete-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">提示</div>
                </div>
                <div id="delete-modal-body" class="modal-body">
                    确定删除吗？
                </div>
                <div class="border-top" style="padding: 15px;">
                    <button id="delete-submit-btn" type="button" class="btn btn-primary">
                        <i class="bi bi-arrow-bar-up icon"></i>
                        确定
                    </button>
                    <button id="delete-close-btn" type="button" class="btn btn-primary left-margin">
                        <i class="bi bi-x-circle icon"></i>
                        取消
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>